

// Asignaciones de pines para el display de 7 segmentos
IO_LOC "seg_out[6]" 29; 
IO_PORT "seg_out[6]" IO_TYPE=LVCMOS33; // Cathode g

IO_LOC "seg_out[5]" 30;
IO_PORT "seg_out[5]" IO_TYPE=LVCMOS33; // Cathode f

IO_LOC "seg_out[0]" 51; 
IO_PORT "seg_out[0]" IO_TYPE=LVCMOS33; // Cathode e

IO_LOC "seg_out[1]" 42; 
IO_PORT "seg_out[1]" IO_TYPE=LVCMOS33; // Cathode d

IO_LOC "seg_out[4]" 53; 
IO_PORT "seg_out[4]" IO_TYPE=LVCMOS33; // Cathode c

IO_LOC "seg_out[3]" 54; 
IO_PORT "seg_out[3]" IO_TYPE=LVCMOS33; // Cathode b

IO_LOC "seg_out[2]" 55; 
IO_PORT "seg_out[2]" IO_TYPE=LVCMOS33; // Cathode a

// Asignaciones de pines para los ánodos del display de 7 segmentos
IO_LOC "an[1]" 57; 
IO_PORT "an[1]" IO_TYPE=LVCMOS33; // Anode digit 1

IO_LOC "an[0]" 56; 
IO_PORT "an[0]" IO_TYPE=LVCMOS33; // Anode digit 0


// Asignaciones de pines para los LEDs
IO_LOC "led_out[0]" 10;
IO_PORT "led_out[0]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN; // Led [0]

IO_LOC "led_out[1]" 11;
IO_PORT "led_out[1]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN; // Led [1]

IO_LOC "led_out[2]" 13; 
IO_PORT "led_out[2]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN; // Led [2]

IO_LOC "led_out[3]" 14; 
IO_PORT "led_out[3]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN; // Led [3]

// Asignaciones de pines para las entradas de Gray
IO_LOC "codigo_gray_pi[0]" 28; 
IO_PORT "codigo_gray_pi[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN; // Input gray [0]

IO_LOC "codigo_gray_pi[1]" 27; 
IO_PORT "codigo_gray_pi[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN; // Input gray [1]

IO_LOC "codigo_gray_pi[2]" 26; 
IO_PORT "codigo_gray_pi[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN; // Input gray [2]

IO_LOC "codigo_gray_pi[3]" 25; 
IO_PORT "codigo_gray_pi[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN; // Input gray [3]












