IO_LOC  "gray_in[3]" 25;

IO_LOC  "gray_in[2]" 26;

IO_LOC  "gray_in[1]" 27;

IO_LOC  "gray_in[0]" 28;
IO_PORT "gray_in[0]" IO_TYPE=LVCMOS33;

IO_LOC  "led_out[3]" 14;

IO_LOC  "led_out[2]" 13;

IO_LOC  "led_out[1]" 11;

IO_LOC  "led_out[0]" 10;
IO_PORT "led_out[0]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_out[2]" 55;
IO_PORT "seg_out[2]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_out[3]" 54;
IO_PORT "seg_out[3]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_out[4]" 53;
IO_PORT "seg_out[4]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_out[1]" 42;
IO_PORT "seg_out[1]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_out[0]" 51;
IO_PORT "seg_out[0]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_out[5]" 30;
IO_PORT "seg_out[5]" IO_TYPE=LVCMOS33;

IO_LOC  "seg_out[6]" 29;
IO_PORT "seg_out[6]" IO_TYPE=LVCMOS33;
